<footer>
    <div class="container">
        <div class="footer_main">
            <div class="footer_inner">
                <h2>about</h2>
                <p>Lorem ipsum dolor sit amet, consec
                    tetur adipisicing elit, sed do eiusmod tempor incididunt ultimam quantum</p>
            </div>
            <div class="footer_inner">
                <h2>about</h2>
                <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Join us</a></li>
                    <li><a href="#">Ethic</a></li>
                    <li><a href="#">Goals</a></li>
                </ul>
            </div>
            <div class="footer_inner">
                <h2>about</h2>
                <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Join us</a></li>
                    <li><a href="#">Ethic</a></li>
                    <li><a href="#">Goals</a></li>
                </ul>
            </div>
            <div class="footer_inner">
                <h2>about</h2>
                <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Join us</a></li>
                    <li><a href="#">Ethic</a></li>
                    <li><a href="#">Goals</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>