<section>
    <div class="container">
        <div class="sec_div">
            <div class="section_content">
                <h2>Indian traditional flavours</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
            </div>
            <div class="section_content">
                <img src="../../assets/images/img1.png" alt="img1">
            </div>
        </div>
    </div>

</section>

<!------section2-------------->
<div class="section2">
    <div class="container">
        <div class="sec2_div">
            <div class="section2_content">
                <div class="sample">
                    <div class="circle"></div>
                </div>
                <h2>New tastes</h2>
                <p>Lorem ipsum dolor sit amet, consecte
                    sectetur adipisicing elit, tation omne
                    ullamco laboris nisi ut aliqolore.</p>

            </div>
            <div class="section2_content">
                <div class="circle_inline">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <h2>New spices</h2>
                <p>Lorem ipsum dolor sit amet, consecte
                    sectetur adipisicing elit, tation omne
                    ullamco laboris nisi ut aliqolore.</p>
            </div>
            <div class="section2_content">
                <div class="circle_inline">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <h2>New dishes</h2>
                <p>Lorem ipsum dolor sit amet, consecte
                    sectetur adipisicing elit, tation omne
                    ullamco laboris nisi ut aliqolore.</p>
            </div>
        </div>
    </div>
</div>

<!--------section3--------------->
<div class="section3" id="menu">
    <div class="container">
        <div class="block">
            <h3>India</h3>
            <h2>on your plate</h2>
        </div>
        <div class="f-cnt">
            <div class="item">
                <img src="../../assets/images/img4.png" alt="">
            </div>
            <div class="item c">
                <h2>Tikka chicken</h2>
                <p>Lorem ipsum dolor
                    sit amet, consectetur
                    adipisicing elit sed do</p>
                <a href="">$14.95</a>
            </div>
            <div class="item">
                <img src="../../assets/images/img5.png" alt="">
            </div>
            <div class="item c">
                <h2>SPICY WEDGES</h2>
                <p>Lorem ipsum dolor
                    sit amet, consectetur
                    adipisicing elit sed do</p>
                <a href="">$10.95</a>
            </div>
        </div>
        <div class="f-cnt">
            <div class="item c">
                <h2>CHICKEN CURRY</h2>
                <p>Lorem ipsum dolor
                    sit amet, consectetur
                    adipisicing elit sed do</p>
                <a href="">$14.95</a>
            </div>
            <div class="item">
                <img src="../../assets/images/img6.png" alt="">
            </div>
            <div class="item c">
                <h2>RED CURRY</h2>
                <p>Lorem ipsum dolor
                    sit amet, consectetur
                    adipisicing elit sed do</p>
                <a href="">$18.95</a>
            </div>
            <div class="item">
                <img src="../../assets/images/img7.png" alt="">
            </div>
        </div>
        <div class="f-cnt">
            <div class="item">
                <img src="../../assets/images/img8.png" alt="">
            </div>
            <div class="item c">
                <h2>SPICY VEGGIES</h2>
                <p>Lorem ipsum dolor
                    sit amet, consectetur
                    adipisicing elit sed do</p>
                <a href="">$11.95</a>
            </div>
            <div class="item">
                <img src="../../assets/images/img9.png" alt="">
            </div>
            <div class="item c">
                <h2>SPICY MIX</h2>
                <p>Lorem ipsum dolor
                    sit amet, consectetur
                    adipisicing elit sed do</p>
                <a href="">$11.95</a>
            </div>
        </div>
    </div>
    <div class="section4" id="events">
        <div class="container">
            <div class="slider">
                <div class="slider_content">
                    <h2>Traditional cuisine made easy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
                <div class="slider_content">
                    <h2>Traditional cuisine made easy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
                <div class="slider_content">
                    <h2>Traditional cuisine made easy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
            <ul>
                <li><a href="#">Meals</a></li>
                <li><a href="#">Spices</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </div>
    </div>

</div>



<!------section5--------------->
<div class="py-4" id="apple">
    <div class="container-lg">
        <div class="text-center">
            <h3>Discover</h3>
            <h4 class="display-4 text-warning">our new menu</h4>
        </div>
        <div class="row justify-content-center align-center my-4">
            <div class="col-8 col-lg-6 col-xl-6 mb-2" id="kiwi">
                <img src="../../assets/images/i1.png" alt="">
                <div class="inner ps-2">
                    <h2>Tikka chicken</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit sed do oculis<span class="text-dark ps-2">$14.95</span>
                    </p>
                </div>
            </div>
            <div class="col-8 col-lg-6 col-xl-6 mb-2" id="kiwi">
                <img src="../../assets/images/i2.png" alt="">
                <div class="inner ps-2">
                    <h2>SOUP OF the day</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit sed do oculis<span class="text-dark ps-2">$7.95</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-center my-4">
            <div class="col-8 col-lg-6 col-xl-6 mb-2" id="kiwi">
                <img src="../../assets/images/i3.png" alt="">
                <div class="inner ps-2">
                    <h2>PLAIN PAPADUMS</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit sed do oculis<span class="text-dark ps-2">$1.95</span>
                    </p>
                </div>
            </div>
            <div class="col-8 col-lg-6 col-xl-6 mb-2" id="kiwi">
                <img src="../../assets/images/i4.png" alt="">
                <div class="inner ps-2">
                    <h2>YELLOW CURRY</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit sed do oculis<span class="text-dark ps-2">$15.95</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-center my-4">
            <div class="col-8 col-lg-6 col-xl-6 mb-2" id="kiwi">
                <img src="../../assets/images/i5.png" alt="">
                <div class="inner ps-2">
                    <h2>PLAIN PAPADUMS</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit sed do oculis<span class="text-dark ps-2">$12.95</span>
                    </p>
                </div>
            </div>
            <div class="col-8 col-lg-6 col-xl-6 mb-2" id="kiwi">
                <img src="../../assets/images/i6.png" alt="">
                <div class="inner ps-2">
                    <h2>YELLOW CURRY</h2>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit sed do oculis<span class="text-dark ps-2">$18.95</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-----section6---------->
<div class="section6">
    <img src="../../assets/images/bg5.png" alt="">
</div>

<!-----section7--------------->
<div class="section7" id="contact">
    <div class="container">
        <h2>Book Here</h2>
        <form>
            <div class="box">
                <div class="box_inner">
                    <label>How many people?</label><br>
                    <select>
                        <option>2 people</option>
                        <option>3 people</option>
                    </select>
                </div>
                <div class="box_inner">
                    <label>When is your date?</label><br>
                    <input type="date">

                </div>
                <div class="box_inner">
                    <label>Time</label><br>
                    <input type="time">

                </div>

            </div>
            <div class="box">
                <div class="box_inner">
                    <label>Name</label><br>
                    <select>
                        <option>Full Name</option>
                        <option>Last Name</option>
                    </select>
                </div>
                <div class="box_inner">
                    <label>Email</label><br>
                    <input type="text" placeholder="Your email address">

                </div>
                <div class="box_inner">
                    <label>Phone</label><br>
                    <input type="number" placeholder="Your phone">

                </div>

            </div>
            <button type="submit" id="btn">Submit</button>
        </form>
    </div>
</div>

<!-----section8-------------->
<div class="section8">
    <img src="../../assets/images/bg6.png" alt="bg6">
</div>

<!------section9--------------->

<div class="section9">
    <div class="container">
        <div class="block3">
            <div class="text-center">
                <h3>Discover</h3>
                <h4 class="display-4 text-warning">our new menu</h4>
            </div>
            <div class="row justify-content-center align-center mt-5">
                <div class="col-8 col-lg-4 col-xl-4 mb-3">
                    <div class="card">
                        <div class="card-header border-bottom-0">
                            <img src="../../assets/images/img13.png" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h2 class="text-muted">Food / 16th March, 2019</h2>
                            <div class="card-title text-dark fw-bold">
                                Lorem ipsum dolor sit
                            </div>
                            <div class="card-subtitle text-muted">
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed

                            </div>
                            <div class="card-title ">

                                <a href="#" class="nav-link fw-bold text-muted anchor">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-4 col-xl-4 mb-3">
                    <div class="card">
                        <div class="card-header border-bottom-0">
                            <img src="../../assets/images/img14.png" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h2 class="text-muted">Spices / 16th March, 2019</h2>
                            <div class="card-title text-dark fw-bold">
                                Lorem ipsum dolor sit
                            </div>
                            <div class="card-subtitle text-muted">
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed

                            </div>
                            <div class="card-title ">
                                <a href="#" class="nav-link fw-bold text-muted anchor">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-header border-bottom-0">
                            <img src="../../assets/images/img15.png" alt="" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h2 class="text-muted">Chicken Curry / 16th March, 2019</h2>
                            <div class="card-title text-dark fw-bold">
                                Lorem ipsum dolor sit
                            </div>
                            <div class="card-subtitle text-muted">
                                Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit, sed

                            </div>
                            <div class="card-title">
                                <a href="#" class="nav-link fw-bold text-muted anchor">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-------prefooter---------------->
<div class="prefooter">
    <div class="container">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis </p>
        <h2>Linda Steward</h2>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-google-plus"></i>
        </div>
    </div>
</div>